.assortment{
  display: flex;
  flex-direction: column;
  &__item {
    padding-top: 1px;
    display: flex;
    justify-content: center;
  }
  &__item--interior {
    background-color: @l-green;
    height: 103px;
  }

  &__item--toy {
    background-color: @d-green;
    height: 103px;
  }

  &__item--name {
    color: white;
    font-size: 19px;
    line-height: 24px;
    padding-left: 30px;
    font-weight: bold;
    width: 130px;
  }
  &__item--icon {
    margin-left: auto;
    margin-right: 30px;
  }
}

@media (min-width: @tablet-width) {
  .assortment {
    display: flex;
    flex-direction: row;
    &__link {
      width: 50%;
    }
  }
} 

@media (min-width: @desktop-width) {
  .assortment {
    display: flex;
    flex-direction: row;
    &__link {
      width: 50%;
    }
  }
} 
