.main-nav {
  padding-left: 0;
  margin-bottom: 0;
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    list-decoration: none;
  }
  &__logo-wrapper {
    display: flex;
    border-bottom: 1px solid #ececec;
    width: 100%;
    height: 79px;
  }
  &__logo {
    flex-grow: 1;
    text-align:center;
  }
  &__logo-image {
    padding-top: 20px;
    padding-left: 55px;
  }
  &__toggle {
    background: white;
    border: 0;
    margin-right: 30px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-text();
    border-bottom: 1px solid #ececec;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: black;
    height: 79px;
    width: 100%;
    padding-left: 75px;
    padding-top: 28px;
    box-sizing: border-box;
  }

  &--search-full {
    background: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 30px;
  }

  &--basket {
    background: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 30px;
  }

  &--receive {
    display: none;
    }
}

@media (min-width: @tablet-width) {
  .main-nav {
      &__list {
      flex-direction: row;
      flex-wrap: wrap;
      }
    &--search {
        display: none;
    }
    &__toggle {
        display:  none;
    }
	&__item {
	  border: 0;
	}
    &__logo-wrapper {
        display: block;
        order: -10;
        flex-basis: 371px;
        flex-grow: 5;
        flex-shrink: 1;
    }
    &--catalog {
      font-size: 15px;
      line-height: 24px;
      font-weight: bold;
    }
    &--knitting {
      font-size: 15px;
      line-height: 24px;
      font-weight: bold;
    }
    &--search-full {
        order: -9;
        width: 83px;
        border-left: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
    }
    &--basket {
        order: -8;
        flex-grow: 3;
        flex-shrink: 1;
        flex-basis: 300px;
        border-left: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
    }
    &--receive {
        flex-basis: 233px;
        text-align: right;
        display: block;
        font-size: 15px;
        line-height: 24px;
        font-weight: normal;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    height: 90px;
  }
}
