.page-title {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  height: 283px;
  &__header {
    font-size: 27px;
    line-height: 30px;
    color: black;
    font-weight: bold;
    .margin();
  }
}
