.product-card {
  &__title {
    .h2();
  }

  &__top {
    color: @l-green;
    font-size: 17px;
    line-height: 20px;
    font-weight: 800px;
    text-transform: uppercase;
  }

  &__description {
    font-size: 15px;
    line-height: 24px;
    color: @font-color;
  }

  &__characteristics {
    font-size: 15px;
    line-height: 24px;
    color: @font-color;
  }

  &__price {
    color: @font-color;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
  }
  &__order {
    .btn();
  }
}
